{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <h1>About Us</h1>
    <hr>
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa qui facilis eius laborum aspernatur asperiores, consequuntur iure nihil laudantium sequi animi sunt consectetur blanditiis, 
        non aliquid deleniti molestiae corrupti omnis?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque incidunt tenetur, necessitatibus aut nostrum amet, eius eligendi optio, impedit deserunt inventore sed repudiandae? Debitis 
        temporibus rerum obcaecati nemo quam reprehenderit.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nulla modi cupiditate maiores, quia rerum officiis natus beatae earum alias voluptatum accusamus tempore reprehenderit, 
        ipsa eos eius neque tenetur obcaecati?
    </p>
    <br><br><br>
{% endblock content %}