{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <h1>Buy all you need for your dream garden</h1>
    <hr><br>
    <div class="row">
        <div class="col-lg-4">
            <h3>Seedlings</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/seedling.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'plants' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>
        <br>
        <div class="col-lg-4">
            <h3>Seeds</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/seed.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'seeds' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>

        <div class="col-lg-4">
            <h3>Cuttings</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/cutting.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'cuttings' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>

        <div class="col-lg-4" style="margin-top: 3rem;">
            <h3>Fruits</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/fruit.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'fruits' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>

        <div class="col-lg-4" style="margin-top: 3rem;">
            <h3>Flowers</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/flower.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'flowers' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>

        <div class="col-lg-4" style="margin-top: 3rem;">
            <h3>Vegetables</h3>
            <hr>
            <img class="thumbnail" src="{% static 'images/vegetable.jpg' %}" alt="">
            <div class="box-element product">
                <a class="btn btn-success" href="{% url 'vegetables' %}">SHOP<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}

