{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h1>{{ user.username }}</h1><hr>
    <div class="profile-image">
        <img src="{% static 'images/placeholder.jpg' %}" alt="">
    </div>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam corporis, totam fugiat 
    ab cupiditate explicabo dolorum in enim dolores nam natus quam! Voluptas sequi mollitia laudantium voluptatem magnam asperiores?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid odio recusandae vel adipisci excepturi? Ullam modi earum consequatur, 
    animi cupiditate eligendi voluptas? Eius, ipsa harum cumque accusantium cum quam accusamus dolores aspernatur voluptatum eos debitis magni? 
    Inventore, totam itaque sunt maiores obcaecati, perferendis debitis labore cumque quibusdam, laborum provident dolores.
{% endblock content %}